
.bng-dark-bg {
  background-color: #911adc;
  color: #fff;
}

.footer {
  background-color: #911adc;
  color: #fff;
  padding-bottom: 30px;
}

/* Navbar: links brancos e sem “apagado” */
nav.navbar.navbar-dark .navbar-brand,
nav.navbar.navbar-dark .navbar-nav .nav-link,
nav.navbar.navbar-dark .nav-link {
  color: #fff;
  opacity: 1;
}

nav.navbar.navbar-dark .navbar-nav .nav-link:hover,
nav.navbar.navbar-dark .nav-link:hover,
nav.navbar.navbar-dark .navbar-nav .nav-link:focus,
nav.navbar.navbar-dark .nav-link:focus {
  color: #e6e6e6;
}

nav.navbar.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

nav.navbar .dropdown-menu.dropdown-menu-dark .dropdown-item {
  color: rgba(255, 255, 255, 0.95);
}

nav.navbar .dropdown-menu.dropdown-menu-dark .dropdown-item:hover,
nav.navbar .dropdown-menu.dropdown-menu-dark .dropdown-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
}

.dataTables_wrapper .dataTables_info {
  color: #333;
  font-weight: 700;
  margin-top: 10px;
}

:root {
  --bs-pagination-color: #a43de4;
  --bs-pagination-hover-color: #7f2db3;
  --bs-pagination-active-bg: #a43de4;
  --bs-pagination-active-border-color: #a43de4;
}

a, .unlink { text-decoration: none; }
.unlink:hover { opacity: 0.8; }
